#contact {
    min-height: 65vh;
}

p {
    margin: 0;
    padding: 0;
}

.heading {
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}

.contactTxt {
    min-height: calc(65vh - 77.6px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFB624;
}

.contactSource {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.location {
    display: flex;
    justify-content: center;
}

.contactSource p,
.location p {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    border: 2px solid;
    padding: 5px 0px;
    width: 360px;
    justify-content: center;
}

.contactSource p a,
.contactSource p i,
.location p {
    font-size: 18px;
    color: #FFB624 !important;
    text-decoration: none;
}

.contactTxt>.row>.col-12>.social_icons {
    justify-content: center;
    margin: 10px 0px;
}

.contactTxt>.row>.col-12>.social_icons>.fa-brands {
    font-size: 20px;
}